<form asp-action="">
    <input type="text" name="NameProduct" placeholder="Tên sản phẩm">
    <input type="number" name="Quantity" placeholder="Số lượng">
    <input type="text" name="Price" placeholder="Giá cả">
    <input type="submit" value="in hóa đơn">
</form>
<h1>@ViewBag.thanhtien</h1>