<form asp-action="Index">
    <label>Họ tên :</label>
    <input type="text" name="Fullname"><br><br>
    <label>Chiều cao :</label>
    <input type="text" name="Height"><br><br>
    <label>Cân nặng :</label>
    <input type="text" name="Weight"><br><br>
    <label>Tuổi :</label>
    <input type="number" name="Age"><br><br>
    <input type="submit">
</form>
<h2>@ViewBag.BMI</h2>