@{
    ViewData["Title"] = "Home Page";
}

<form asp-action="Index">
    <label>Nhập họ tên:</label>
    <input type="text" name="Fullname"><br>
    <label>Nhập địa chỉ:</label>
    <input type="text" name="address">
    <br>
    <input type="submit" value="Thêm mới">
</form>
<h1>@ViewBag.message</h1>