<h1>Dữ liệu từ controller gửi về là @ViewBag.infoperson </h1>
<form asp-action="Index">
    <label>PersonID:</label>
    <input type="text" name="PersonID"><br><br>
    <label>Nhập họ tên:</label>
    <input type="text" name="Fullname"><br><br>
    <label>Nhập địa chỉ:</label>
    <input type="text" name="Address">
    <br><br>
    <input type="submit" value="Thêm mới">
</form>