<form asp-action="Index">
    <input type="text" name="Fullname2" placeholder="Tên">
    <input type="number" name="DiemA" maxlength="10" placeholder="Điểm A">
    <input type="number" name="DiemB" maxlength="10"placeholder="Điểm B">
    <input type="number" name="DiemC" maxlength="10"placeholder="Điểm C">
    <input type="text" name="Tenmonhoc" placeholder="Tên môn học">
    <input type="submit">
</form>
<h1>@ViewBag.CalcDiem</h1>